

.brand-logo {
  height: 70px;
  opacity: 100%;
  filter: grayscale(100%);
  transition: 0.4s;
}

.brand-logo-container:hover .brand-logo {
  transform: scale(1.5);
  filter: grayscale(0%);
  opacity: 100%;
}

