.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

.project-image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.project-image-container:hover .project-img {
  transform: scale(1.05);
}
