.footer-container {
  text-align: center;
}

.footer-nav-container,
.footer-navigation,
.footer-socials {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}

.footer-navigation {
  width: 40%;
}

.footer-socials {
  width: 10%;
}

.footer-nav-item,
.footer-social-icon {
  text-decoration: none;
  color: var(--light);
  margin: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .footer-nav-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-navigation {
    width: 100%;
    margin-bottom: 20px; /* Add space below navigation */
  }

  .footer-socials {
    width: 100%;
    justify-content: center; /* Center social icons */
  }
}
