@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
  --dark: #000000;
  --light: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
  color: var(--dark);
}

a,
Link {
  color: var(--primary);
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
